## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

## Importing and cleaning data

In [3]:
data = pd.read_csv('./files-for-lab/learningSet.csv')

C:\Users\Propietario\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [40]:
data.shape

(95412, 481)

In [8]:
drop_list = []

In [26]:
drop_list.append('OSOURCE')
drop_list.append('ZIP')

In [4]:
nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

    column_name  nulls_percentage
0       ODATEDW          0.000000
1       OSOURCE          0.000000
2         TCODE          0.000000
3         STATE          0.000000
4           ZIP          0.000000
..          ...               ...
476    MDMAUD_R          0.000000
477    MDMAUD_F          0.000000
478    MDMAUD_A          0.000000
479    CLUSTER2          0.001383
480    GEOCODE2          0.001383

[481 rows x 2 columns]

In [14]:
nulls = nulls_percent_df[nulls_percent_df['nulls_percentage']!=0].reset_index(drop = True)
nulls

   column_name  nulls_percentage
0          AGE          0.248030
1      NUMCHLD          0.870184
2       INCOME          0.223096
3      WEALTH1          0.468830
4      MBCRAFT          0.553955
..         ...               ...
87    RAMNT_24          0.814090
88    NEXTDATE          0.104526
89     TIMELAG          0.104526
90    CLUSTER2          0.001383
91    GEOCODE2          0.001383

[92 rows x 2 columns]

In [27]:
saved_elements = ["WEALTH1", "WEALTH2","SOLIH","VETERANS"]

In [36]:
for i in range(len(nulls['nulls_percentage'])):
    if (nulls['column_name'][i] not in saved_elements) and (nulls['nulls_percentage'][i] > 0.85):
        drop_list.append(nulls['column_name'][i])

In [41]:
data = data.drop(columns = drop_list)
data.shape

(95412, 454)

In [48]:
categorical = data.select_dtypes(object)

In [49]:
print(categorical['GENDER'].value_counts())

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [50]:
categorical['GENDER'] = categorical['GENDER'].fillna('F')
print(categorical['GENDER'].value_counts())
#it's not working

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

<ipython-input-50-213f22e78ba2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [51]:
categorical['GENDER'].unique()

array(['F', 'M', ' ', 'C', 'U', 'J', 'A'], dtype=object)

In [53]:
for i in range(len(categorical['GENDER'])):
    if categorical['GENDER'][i] == ' ':
        categorical['GENDER'][i] = 'F'
    else:
        if (categorical['GENDER'][i] != 'M') and (categorical['GENDER'][i] != 'F'):
            categorical['GENDER'][i] = 'other'

C:\Users\Propietario\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [54]:
print(categorical['GENDER'].value_counts())

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64